<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>This is a tester email</h4>
    <p>
      <%= @message %>
    </p>
  </body>
</html>