<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from CloudEncounter</h1>
    <p>
      A user says:
    </p>
    <p>
    	<%= @message %>
    </p>
  </body>
</html>