<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Linh</h1>
    <p>
      This is an email from <%= @user_name %>.
    </p>
    <p>
    	<%= @message %>
    </p>
  </body>
</html>