<div class="row">
<div class="large-12 columns">
 <h2 style="text-align: center">My Answers</h2> 
 <div class="form-style-10">

 	<% @answers.each do |answer| %>
   <h1><%= answer.user.name %> | <%= answer.created_at.strftime("%e %b %Y") %> </h1>
    <div class="inner-wrap"> Answer: <%= answer.description %></div>
    

    <%= link_to "#{truncate(answer.post.description, length: 80)}", post_path(answer.post) %>
   

  	<hr/>
	<% end %>

</div>
</div>
</div>