<div class="row">
<div class="large-12 columns">
<div class="form-style-8">
<h1 style="text-align: center; color:#257C9E">Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post, {:style=>'color:#257C9E;', :class => "css_class"} %> |
<%= link_to 'Back to My Posts', my_posts_path, {:style=>'color:#257C9E;', :class => "css_class"} %> |
<%= link_to 'Back to All Posts', posts_path, {:style=>'color:#257C9E;', :class => "css_class"} %>
</div>
</di>
</div>