<h1>My Posts</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Title</th>
      <th class="col-md-3">Description</th>
      <th class="col-md-3">Date</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<br>

<%= button_to 'Post Your Own Problem', new_post_path, class: 'btn btn-default', method: :get %>