<div class="row">
<div class="large-12 columns">
	<div class="form-style-10">
	<h2 style="text-align: center; color:#257C9E">Post Your Problem</h2>
	
		
		<%= render 'form' %>

		<%= link_to image_tag("Back.png", :size => "50x50", :crop => :fill), posts_path %>
	</div>
</div>
</div>