<div class="row">
<div class="small-12 columns">
<div class="form-style-8">
		<h1 style="text-align: center">Editing appointment</h1>
		
		<%= render 'form' %>

		<%= link_to 'Show', @appointment %> |
		<%= link_to 'Back', appointments_path %>
</div>
	
</div>
</div>
